#map {
    left: 70px;
    top: 0px;
    width : 100%;
    height: 100%;
    position: fixed;
    z-index: 997;
}


/* 지도 확대, 축소 */
/* .zoomcontrol {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 40px;
    height: 80px;
    overflow: hidden;
    z-index: 998;
} 
.zoomcontrol span {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}     
.zoomcontrol span img {
    width: 40px;
    height: 40px;
    padding: 0px;
    border: none;
}   */