#map {
  left:70px;
  width : 100%;
  height: 100%;
  position:fixed;
  z-index : 1;
  
}

html, body {
  margin : 0px;
  height: 100%;
  width: 100%;
}

.side_bar {
  position : fixed;
  display : flex;
  flex-direction: column;
  left : 0; top: 0; bottom: 0;
  width: 70px;
  background-color: #6356E5;
  z-index:3;
  
}

/* 버튼 태그 예시 */

.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:40px;height:80px;overflow:hidden;z-index:1;} 
.custom_zoomcontrol span {display:block;width:40px;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:40px;height:40px;padding:0px;border:none;}  
.location_button {position:absolute;bottom:20px;right:10px;width:40px;height:40px;overflow:hidden;z-index:1;}
.location_button span {display:block;width:40px;height:40px;text-align:center;cursor:pointer;}     
.location_button span img {width:40px;height:40px;padding:0px;border:none;}

.side_bar > a{
  padding : 16px;
  display : flex;
  color:white;
  font-size: 40px;
  text-decoration: none;
}

.flex-item {
  flex: none;
}

.flex-last{
  margin-top : auto;
}

a > i {
  margin: auto;
}


/* 메뉴 아이콘 */

input[id="menuicon"]{
  display: none;
}
input[id="menuicon"] + label {
  display: flex;
  width : 40px;
  height: 40px;
  position : relative;
  cursor : pointer;
  margin : 0 auto;
  padding : 16px;
}
input[id="menuicon"] + label span {
  display: flex;
  position: absolute;
  width: 40px;
  height: 10px;
  border-radius: 30px;
  background-color: white;
  transition: all .35s;
  margin: auto;
}

input[id="menuicon"] + label span:nth-child(1){
  top:20%;
}
input[id="menuicon"] + label span:nth-child(2) {
  top:50%;
  transform: translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
  bottom:20%;
}

/* input박스 눌렀을때 변화 */

input[id="menuicon"]:checked + label span:nth-child(1){
  top:50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2){
  opacity: 0;
}

input[id="menuicon"]:checked + label span:nth-child(3){
  bottom:50%;
  transform: translateY(50%) rotate(-45deg);
}

/* 사이드 페이지 */

.side_page {
  width : 500px;
  height: 100%;
  position: fixed;
  background-color: white;
  top : 0;
  left : -500px;
  transition: all;
  display: flex;
  flex-wrap : nowrap;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index : 4;
  overflow: auto;
}

input[id="menuicon"]:checked + label + div {
  left:70px;
}

.side_title {
  width: 400px;
  height: 40px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 18px;
  border-bottom: 2px solid #6356E5;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  box-sizing: border-box;
}

.side_body {
  width: 400px;
  height: 400px;
  padding: 16px;
  margin-top: 30px;
  margin-left: 50px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid #6356E5;
  outline: none;
  box-sizing: border-box;
  overflow: auto;
  resize: none;

}

.submit {
  width: 500px;
  height: 80px;
  padding-right: 50px;
  padding-top: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  right: 10px;

}

.submit button {
  cursor: pointer;
  float: right;
  right: 20px;
  height: 46px;
  width: 58px;
  padding: 0px;
  background-color: white;
  border: 2px solid #6356E5;
  font-size: 20px;
  font-weight: 500;
  color: #6356E5;
}

.submit button:hover {
  font-weight: 700;
}


/* 커스텀 오버레이 */
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://library.cnu.ac.kr');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;margin: 10px;}
.info .body .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://library.cnu.ac.kr')}
.info .link {color: #5085BB;}